<table border="1"> 
		<tr>
			<th>name: <%= @table.name %>
				<br />in MB unless noted
			</th>
		<% @table.timestamps.each_with_index do |ts, i| %>
			<!-- <th><%#= (Time.at ts / 10 ** 9).strftime("%Y-%d-%m %T") %></th> -->
			<th>
				<%= @time_intervals[i].to_s + " minute" + (@time_intervals[i].to_i > 1 ? "s" : "")%>
				at <%= (Time.at ts / 10 ** 9).strftime("%T") %>
			</th>
		<% end %>
		</tr>			
		<tr>	
			
		<% @table.data.each do |key, value| %>
			<td>
				<%#= key.to_s.titleize %>
				<%= (key == "shadow_cache_memory".to_sym ? key.to_s.titleize + " GB" : key.to_s.titleize) %>
			</td>
				<% value.each do |v| %>
					
					<td> <%= (key == "shadow_cache_memory".to_sym ? (number_with_delimiter v/1.gigabyte) : (number_with_delimiter v)) %></td>
					
				<% end %>
		</tr>
		<% end %>
</table>