<%= render :partial => "rs" %>

<form method="get" action="/range_servers" >
	
	<b>Data types: </b> 
	<% @stat_types.each do |type| %>
		<%= radio_button_tag "data_type", type, (@selected_stat == type)  %><%= pretty_titleize type %> &nbsp; &nbsp;		
	<% end %>	
	
	<br />
	<br />
	<b>Sort by: </b> 
	<% @sort_types.each do |type| %>
		<%= radio_button_tag "sort_by", type, (@selected_sort == type)  %><%= type.titleize %> &nbsp; &nbsp;		
	<% end %>	
	
	<br />
	<br />
	<%= @chart_key[:immutable] ? "<div class=opacity_half>" : "<div>" %>
		<%= pp @chart_key %>
		<b>Time interval: </b>
		<% @time_intervals.each_with_index do |interval, i| %>
			<%= radio_button_tag "time_interval", i, (@timestamp_index == i) %><%= interval %> &nbsp; &nbsp;
		<% end %>	
	</div>
		
	<br />
	<br />	
	<%= submit_tag "update view" %>
<%# end %>

<%= render :partial => "data" %>